html {
    height: 100%;
  }

  body {
    height: 100%;
    font-family: 'Lato';
    overflow-y: scroll;
    font-size: 16px;
    margin-bottom: 60px; /* Height of the footer */
  }
  .body-graph {
    font-family: 'Lato';
    overflow-y: scroll;
    font-size: 16px;
    margin-bottom: 60px; /* Height of the footer */
  }
  ::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit browsers */
  }

  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffc107;
  }

  .outlet-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Height of the footer */
    background-color: #ffc107;
    color:#fff;
    padding-left: 21%;
  }
  
  .footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
header{
    position: static;
    top: 0;
    width: 100%;
    background-color: #17a2b8;
}
.header-outlet{
  position: static;
  top: 0;
  width: 100%;
  background-color: #17a2b8;
}
.select-filter {
  width: 70px;
}
.table-responsive {
  position: absolute;
  width: 90%;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link{
    color:#fff;
}
.nav-link:hover {
    color: #ffc107;
    background-color: transparent;
}
.droptbl:hover{
    color: #fff;
    background-color: #17a2b8;
}
.btn{
    color: #fff;
    background-color: #17a2b8;
    border-color: #fff;
    max-width: auto; height: auto;
}
.btn:hover {
    color: #fff;
    background-color: #117a8a;
    
  }
  .btn-cancel {
    color: #fff;
    background-color: #ffc107;
    border-color: #fff;
    max-width: auto; height: auto;
  }
  .btn-cancel:hover {
    color: #fff;
    background-color: #a17a06;
    border-color: #fff;
    max-width: auto; height: auto;
  }
.pagination .page-link {
    color: #f8f9fa;
    background-color: #17a2b8;
    border-color: transparent;
  }

  .pagination .page-link:hover,
  .pagination .page-link:focus {
    color: #fff;
    background-color: #0e6674;
    border-color: #0e6674;
  }

  .pagination .page-item.active .page-link {
    color: #fff;
    background-color: #ffc107;
    border-color: transparent;
  }

table{
  overflow-y: scroll;
}